/* css 初始化代码  css reset */

* {
    /* 清除默认内外边距 */
    margin: 0;
    padding: 0;
    /* 內减模式 */
    box-sizing: border-box;
}

/* 去掉列表默认样式 */
li {
    list-style: none;
}

/* 去掉链接默认下划线 */
a {
    text-decoration: none;
}

/*去掉button 默认自带的边框*/
button {
    border: none;
}

/*版心*/
.w {
    width: 1200px;
    margin: auto;
}

/*头部*/
.header {
    width: 1200px;
    height: 42px;
    margin: 30px auto;
}

.logo {
    float: left;
    width: 195px;
    height: 42px;
}

.classes {
    float: left;
    width: 246px;
    height: 42px;
    margin: auto 70px;
}

.classes ul li {
    float: left;
    margin-right: 28px;
}

.classes ul li:last-child {
    margin-right: 0;
}

.classes ul li a {
    padding: 9px;
    display: block;
    /*float: left;*/
    /*line-height: 42px;*/
    text-align: center;
    color: #050505;
}

.classes ul li a:hover {
    border-bottom: 2px solid #00a4ff;
}

.search input {
    float: left;
    width: 361px;
    height: 40px;
    border: 1px solid #00a4ff;
    outline: none;
    padding-left: 1.5em;
    background-color: #f3f5f7;
    font-size: 14px;
}

.search input::placeholder {
    color: #bfbfbf;
}

.search input:hover {
    border: 2px solid #00a4ff;
}

.search .btn {
    float: left;
    width: 50px;
    height: 40px;
    background-image: url('../images/btn.png');
    background-repeat: no-repeat;
    background-position: right;
}

.user {
    float: left;
    height: 42px;
    margin-left: 30px;
}

.user img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-top: 6px;
    margin-right: 6px;
}

/*.user .username {*/
/*    display: inline-block;*/
/*    line-height: 42px;*/
/*    margin-left: 6px;*/
/*    color: #666666;*/
/*}*/

/*banner*/
.banner {
    height: 420px;
    background-image: url(../images/banner2.png);
    background-color: #1c036c;
    background-repeat: no-repeat;
    background-position: top center;
}

.banner .categories {
    float: left;
    width: 190px;
    height: 420px;
    background-color: rgba(0, 0, 0, 0.3);
}

.banner .categories ul {
    width: 190px;
    height: 420px;
}

.banner .categories ul li a {
    display: inline-block;
    width: 190px;
    height: 44px;
    line-height: 44px;
    padding: 0 20px;
    background-image: url(../images/arrow.png);
    background-repeat: no-repeat;
    background-origin: border-box;
    background-position: 170px 18px;
    color: #f3f5f7;
    font-size: 14px;
}

/*.banner .categories ul li a::after {*/
/*    content: '>';*/
/*    float: right;*/
/*}*/

.banner .categories ul li:first-child a {
    margin-top: 12px;
}

.banner .categories ul li a:hover {
    color: #00b4ff;
    background-color: rgba(0, 0, 0, .6);
    background-image: url(../images/arrow1.png);
    background-repeat: no-repeat;
    background-origin: border-box;
    background-position: 170px 18px;
}

.banner .dashboard {
    float: right;
    width: 228px;
    height: 300px;
    margin-top: 50px;
    background-color: #fff;
}

.banner .dashboard h2 {
    padding: 15px 67px;
    font-size: 18px;
    color: #ffffff;
    background-color: #9bceea;
}

.banner .dashboard ul li {
    /*display: inline-block;*/
    width: 192px;
    height: 62px;
    vertical-align: middle;
    margin-left: 18px;
    padding-top: 12px;
    padding-bottom: 14px;
    border-bottom: 2px solid #eaeaea;
}

.banner .dashboard ul li a {
    color: #4e4e4e;
}

.banner .dashboard ul li:first-child {
    padding-top: 19px;
    padding-bottom: 18px;
    height: 70px;
}

.banner .dashboard ul li div {
    font-size: 14px;
    color: #bdbdbd;
}

.banner .dashboard .allClasses {
    display: inline-block;
    width: 200px;
    height: 41px;
    margin: 4px 14px;
    line-height: 41px;
    text-align: center;
    border: solid 1px #22b0ff;
    color: #22b0ff;
}

.banner .dashboard .allClasses:hover {
    background-color: #00a4ff;
    color: #ffffff;
}

.featured {
    height: 60px;
    line-height: 60px;
    margin-top: 8px;
    background-color: #fff;
    box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, .2);
}

.featured h3 {
    float: left;
    margin-left: 34px;
    margin-right: 34px;
    color: #00a4ff;
    font-weight: 500;
}

.featured ul li {
    float: left;
}

.featured ul li a {
    padding: 0 34px;
    border-left: 1px solid #bfbfbf;
    color: #050505;
}

.featured .modify {
    float: right;
    margin-right: 26px;
    font-size: 14px;
    color: #00a4ff;
}

.featured_content {
    height: 595px;
    margin-top: 37px;
}

.featured_content h3 {
    /*float: left;*/
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    font-family: MicrosoftYaHei;
}

.featured_content .all {
    float: right;
    display: inline-block;
    margin-left: 1041px;
    font-size: 12px;
    color: #a5a5a5;
}

.featured_content ul li {
    float: left;
    width: 228px;
    height: 270px;
    margin-left: 15px;
    font-size: 14px;
    background-color: #fff;
}

.featured_content ul li a {
    display: inline-block;
    margin: 20px 20px 20px 24px;
    color: black;
}

.featured_content ul li .advanced {
    margin-left: 24px;
    margin-bottom: 27px;
    color: orange;
}

.featured_content ul li span {
    font-size: 12px;
    color: #999;
}

.featured_content ul li:nth-child(5n+1) {
    margin-left: 0;
}

.featured_content ul li:nth-child(n-5) {
    margin-top: 15px;
}

body {
    background-color: #f3f5f7;
}